    <!--компании использующие доминион-->
    <div class="container__presentation">
        <div class="container__presentation__left__content">
            <span class="container__presentation__left__title">600+</span>
            <span class="container__presentation__left__text">companies use <br> Daminion for growth</span>
            <ul class="container__presentation__left__title__list">
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/forestryC.svg" alt=""></li>
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/hb.svg" alt=""></li>
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/icih.svg" alt=""></li>
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/zgonc.svg" alt=""></li>
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/jf.svg" alt=""></li>
                <li class="container__presentation__left__list"><img class="container__presentation__left__img" src="/img/ss.svg" alt=""></li>
            </ul>
        </div>
        <div class="container__presentation__right">
            <img  class="container__presentation__right__img" src="/img/phoneandcomp.png" alt="">
        </div>
    </div>