<header class="header">
    <div class="header__container">

        <img class="header__burger" src="/img/burger.svg" alt="">

        <a class="header__logo__link" href="#">
            <img class="header__logo__link__img" src="/img/logo.svg" alt="">
        </a>

        <div class="header__container__mobile__menu__open">
            <ul>
                <li class="header__container__mobile__menu__list">
                    <span class="header__container__mobile__menu__text">Case Studies</span>
                    <img class="header__container__mobile__menu__text__img" src="/img/vectorbottom.svg" alt="">
                </li>
                <li class="header__container__mobile__menu__list">
                    <span class="header__container__mobile__menu__text">Pricing</span>
                    <img class="header__container__mobile__menu__text__img" src="/img/vectorbottom.svg" alt="">
                </li>
                <li class="header__container__mobile__menu__list">
                    <span class="header__container__mobile__menu__text">Contact Us</span>
                    <img class="header__container__mobile__menu__text__img" src="/img/vectorbottom.svg" alt="">
                </li>
            </ul>
        </div>

        <div class="header__nav">
            <ul class="header__nav__list">
                <li class="header__nav__item">
                    <span class="header__nav__list__text">Case Studies</span>
                    <img class="header__nav__list__img" src="/img/vectorbottom.svg" alt="">
                </li>
                <li class="header__nav__item">
                    <span class="header__nav__list__text">Pricing</span>
                    <img class="header__nav__list__img" src="/img/vectorbottom.svg" alt="">
                </li>
                <li class="header__nav__item">
                    <span class="header__nav__list__text">Contact Us</span>
                    <img class="header__nav__list__img" src="/img/vectorbottom.svg" alt="">
                </li>
            </ul>
            <button class="header__btn">Book a Demo</button>
        </div>
    </div>
</header>