.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #153051;
    margin-bottom: 154px;
    padding-top: 37px;
    padding-bottom: 36px;
}

.header__container__mobile__menu__open{
    display: none;
}

.header__burger{
    display: none;
}

.header__logo__link__img{
    display: block;
    width: 210px;
}

.header__nav{
    display: flex;
}

.header__nav__list{
    display: flex;
}

.header__nav__item{
    display: flex;
    align-items: center;
    
}

.header__nav__list__text{
    white-space: nowrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;           
    margin-right: 12px;
    cursor: pointer;
    color: #153051;
}

.header__nav__list__img{
    margin-right: 48px;
    cursor: pointer;
}

.header__btn{
    width: 100%;
    max-width: 171px;
    height: 100%;
    max-height: 52px;
    color: #FFFFFF;
    background: #153051;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    
    white-space: nowrap;
}

@media (max-width:320px){

    .container {
        width: 100%;
        height: 100%;
        max-width: 1210px;
        margin: 0px auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__container{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #153051;
        padding-top: 16px;
        padding-bottom: 12px;
        margin: 0 auto;
    }
    
    .header__logo__link__img{
        width: 100%;
        max-width: 178px;
        height: 100%;
        max-height: 47px;
        margin-bottom: 86px;
    }

    .header__nav{
        display: none;
    }

    .header__burger{
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        max-width: 18px;
        left: 10px;
        top: 33px;
    }

    .header__container__mobile__menu__open{
        display: none;
        width: 100%;
        max-width: 320px;
    }

    .header__container__mobile__menu__list{
        width: 100%;
        max-width: 320px;
        display: flex;
        align-items: center;
        justify-content: space-between;   
        padding-top: 15px;
        padding-bottom:15px;
        
        cursor: pointer;
    }

    .header__container__mobile__menu__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #153051;
    }

    .header__container__mobile__menu__text__img{
        width: 100%;
        max-width:8px;
        height: 100%;
        max-height: 4x;
    }

    }
