/*таблица*/
.container__table{
    margin-bottom: 208px;
}

.container__table__list{
    display: flex;
    align-items: flex-end;
}

.table__list__empty{  
    width: 270px;
    height: 124px;
    background: #153051;
    padding-right: 30px;
}

.table__list__information__title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    background: #153051;
    padding-top: 19px;
    padding-bottom: 18px;
    border-left: 1px solid #6F8196;
}

.list__img__information{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 7px;
}

.table__list__information__title__daminion{
    width: 180px;
    height: 100%;
    max-height: 144px;
    background: #1D3E66;
    padding-top: 20px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #6F8196;
}

.table__list__information__img__logo{
    position: relative;
}

.table__list__information__text__daminion{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.table__list__information__img__daminion{
    width: 100%;
    max-width: 36px;
    margin-bottom: 13px;
}

.table__list__information__img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 36px;
    height: 100%;
    max-height: 36px;
    margin-bottom: 7px;
}


.list__img__absolut{
    position: absolute;
    bottom: 12px;
    right: -13px;
}

.table__list__information__text{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}


.container__table__list__check{
    display: flex;
    min-height: 70px;
}

.container__table__top{
    border-top: 1px solid #F0F5FB;
}

.container__table__bottom{
    margin-bottom: 30px;
}

.table__list__check__subtitle{
    display: flex;
    align-items: center;
    width: 270px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-left: 30px;
    border-left: 1px solid #F0F5FB;
    border-bottom: 1px solid #F0F5FB;
}

.subtitle__big{
    height: 110px;
}

.table__list__check{
    display: flex;
    align-items: center;/*сделать элементам внутри обертку*/
    justify-content: center;
    width: 180px;
    border-left: 1px solid #F0F5FB;
    border-bottom: 1px solid #F0F5FB;
}

.table__list__check__img{
    width: 100%;
    max-width: 32px;
    height: 100%;
    max-height: 32px;
}

.table__list__check__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    border-left: 1px solid #F0F5FB;
    border-right: 1px solid #F0F5FB;
    border-bottom: 1px solid #F0F5FB;
}

.table__list__check__text{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #4D627C;
}

.table__list__check__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table__list__check__block__title{
    display: flex;
    flex-direction: column;
}

.table__list__check__subtitle__text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__list__btn{
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 46px;
    background: #FFDB21;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #153051;
    letter-spacing: 0.1px;
    cursor: pointer;
}

.table__list__check__text__strong{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #153051;
}

.table__list__check__text__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #4D627C;
}

.list__green{
    color: #27AE60;
}

.list__red{
    color: #F3675E;
}

@media (max-width: 320px){
    .container__table{
        margin-bottom: 30px;
    }

    .container__table__content{
        overflow: scroll;
    }
    
    .container__table__list{
        display: flex;
        align-items: flex-end;
        width: 697px;
        height: 80px;
    }
    
    .table__list__empty{  
        width: 167px;
        background: #153051;
        padding-right: 30px;
    }
    
    .table__list__information__title{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 106px;
        background: #153051;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #6F8196;
    }
    
    .list__img__information{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 28px;
        padding-right: 28px;
        margin-bottom: 7px;
    }
    
    .table__list__information__title__daminion{
        width: 106px;
        background: #1D3E66;
        padding-top: 12px;
        padding-bottom: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 1px solid #6F8196;
    }
    
    .table__list__information__img__logo{
        position: relative;
    }
    
    .table__list__information__text__daminion{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .table__list__information__img__daminion{
        width: 100%;
        max-width: 22px;
        margin-bottom: 7px;
    }
    
    .table__list__information__img{
        display: block;
        margin: 0 auto;
        width: 25px;
        height: 25px;
        margin-bottom: 7px;
    }

    .table__list__information__img__mini{
        width: 16px;
    }
    
    
    .list__img__absolut{
        position: absolute;
        width: 14px;
        bottom: 10px;
        right: -5px;
    }
    
    .table__list__information__text{
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #FFFFFF;
    }
    
    
    .container__table__list__check{
        display: flex;
        width: 697px;
        min-height: 50px;
    }
    
    .container__table__top{
        border-top: 1px solid #F0F5FB;
    }
    
    .container__table__bottom{
        margin-bottom: 30px;
    }
    
    .table__list__check__subtitle{
        display: flex;
        align-items: center;
        width: 167px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        padding-left: 16px;
        border-left: 1px solid #F0F5FB;
        border-bottom: 1px solid #F0F5FB;
    }
    
    .subtitle__big{
        height: 70px;
    }
    
    .table__list__check{
        display: flex;
        align-items: center;/*сделать элементам внутри обертку*/
        justify-content: center;
        width: 106px;
        border-left: 1px solid #F0F5FB;
        border-bottom: 1px solid #F0F5FB;
    }
    
    .table__list__check__img{
        width: 18px;
        height: 18px;
    }
    
    .table__list__check__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 106px;
        border-left: 1px solid #F0F5FB;
        border-right: 1px solid #F0F5FB;
        border-bottom: 1px solid #F0F5FB;
    }
    
    .table__list__check__text{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4D627C;
    }
    
    .table__list__check__block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .table__list__check__subtitle__text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table__list__btn{
        width: 100%;
        max-width: 83px;
        height: 100%;
        max-height: 40px;
        background: #FFDB21;
        border-radius: 4px;
        border: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #153051;
        cursor: pointer;
    }
    
    .table__list__check__text__title{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.1px;
        color: #153051;
    }
    
    .table__list__check__text__strong{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #153051;
    }

    .list__green{
        color: #27AE60;
    }
    
    .list__red{
        color: #F3675E;
    }
}